*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*rule header*/

.backround{
    background-color: white;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ff9614;
    display: flex;
    justify-content: center;
    align-content: center;
}

h1{
    font-size: 4rem;
    padding: 1rem 0;
}

.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 768px) {

.backround{
    background-color: white;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ff9614;
    display: flex;
    justify-content: start;
    align-content: center;
    
}

h1{
    font-size: 5rem;
    padding: 1rem 0;
    margin-left: 1rem;
}

}

@media screen and (min-width: 992px) {

h1{
    font-size: 6rem;
    padding: 1rem 0;
    margin-left: 1rem;
}

    
}

/*/rule header*/

/*rule bg*/

.bg-gris{
    background-color: #f6f5f3;
    
}

.bg-white{
    background-color: #ffffff;
}

/*/rule bg*/

/*main rule*/

/*video yt*/

main{ 
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-top: 2rem;
}

.padding-page{
    padding: 0 2rem;
}

.padding-top{
    padding-top: 2rem;
}

.margin{
    margin-bottom: 1.4rem;
}

.general-title{
    font-size: 1.7rem;
    color: #a59999;
    font-weight: 200;
}

.recipe{
    font-size: 3rem;
    color: #4e3969;
    font-weight: 800;
}

.display-nn{
    display: none;
}

@media screen and (min-width: 768px){

.display-nn{
    display: inline-block;
}
}

.video-yt{
    max-width: 100%;
}

.display-flex{
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
    font-size: 1.1rem;
    
}

li{
    margin-bottom: 1rem;
}

.title-ds{
    font-size: 1.7rem;
}

.description-yt{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

@media screen and (min-width: 768px) {

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;  
    margin-top: 3.5rem;
}

.description-yt{
    max-width: 755px;
}

li{
    margin-right: 4.1rem;
    margin-bottom: 3rem;
}

}

@media screen and (min-width: 992px) {

.display-flex{
    display: flex;
    flex-direction: row;
}

.description-yt{
    max-height: 420px;
    
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul{
    list-style: none;
    font-size: 1.1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin-top: 3.5rem;
    
}

li{
    margin-right: 4.1rem;
    margin-bottom: 1rem;
}

}

/*/video yt*/

/*social icon*/

.icons-social{
    display: flex;
    justify-content: space-between;
}

button{
    background-image: url(img/facebook-logo_1080029-107.avif);
    
}