*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backround{
    background-color: white;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}