*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*rule header*/

.backround{
    background-color: white;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ff9614;
    display: flex;
    justify-content: center;
    align-content: center;
}

h1{
    font-size: 4rem;
    padding: 1rem 0;
}

.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 768px) {

.backround{
    background-color: white;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ff9614;
    display: flex;
    justify-content: start;
    align-content: center;
    
}

h1{
    font-size: 5rem;
    padding: 1rem 0;
    margin-left: 1rem;
}

}

@media screen and (min-width: 992px) {

h1{
    font-size: 6rem;
    padding: 1rem 0;
    margin-left: 1rem;
}

    
}

/*/rule header*/

/*rule bg*/

.bg-gris{
    background-color: #f6f5f3;
    
}

.bg-white{
    background-color: #ffffff;
}

/*/rule bg*/

/*main rule*/

.flex{
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    margin: 0 auto;
    padding: 0 5px;
    position: relative;
}


/*video yt*/

main{ 
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-top: 2rem;
  display: flex;
}

.padding-page{
    padding: 0 2rem;
}

.padding-top{
    padding-top: 2rem;
}

.margin{
    margin-bottom: 1.4rem;
}

.general-title{
    font-size: 1.7rem;
    color: #a59999;
    font-weight: 200;
}

.recipe{
    font-size: 3rem;
    color: #4e3969;
    font-weight: 800;
}

.display-nn{
    display: none;
}

@media screen and (min-width: 768px){

.display-nn{
    display: inline-block;
}
}

.video-yt{
    max-width: 100%;
}

.display-flex{
    display: flex;
    flex-direction: column;
    
}

ul{
    list-style: none;
    font-size: 1.1rem;
    
}

li{
    margin-bottom: 1rem;
}

.title-ds{
    font-size: 1.7rem;
}

.description-yt{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


@media screen and (min-width: 992px) {

.display-flex{
    display: flex;
    flex-direction: row;
}


main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul{
    list-style: none;
    font-size: 1.1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin-top: 3.5rem;
    
}

li{
    margin-bottom: 2rem;
}

}

.description-yt{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 0rem;
}

/*/video yt*/

/*social icon*/

.icons-social{
    display: flex;
    justify-content: space-between;
}

button{
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 45%;
    background-color: white;
    margin-top: 2.5rem;
}

.img-nn{
    display: none;
}

@media screen and (min-width: 768px) {

button{
    font-size: 1.3rem;
    padding: 1rem 3.5rem;
    border: none;
    border-radius: 1.5rem;
    background-color: white;
}

.img-nn{
    display: inline-block;
    width: 100%;
    margin-top: 2.5rem;
}

.flex{
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    margin: 0 auto;
    padding: 0 5px;
}

.video-yt{
    flex-grow: 2;
}

.description-yt{
    flex-grow: 1;
}

img{
    width: 100%;
}

.display-nn{
    display: none;
}

}

@media screen and (min-width: 992px) {

.display-nn{
    display: inline-block;
}

.flex{
    flex-basis: 90%;
}

.img-nn{
    display: inline-block;
    width: 100%;
    margin-top: 2.5rem;
}

}

/*/social icon*/

/*presentation*/

.presentation{
    color: black;
    font-weight: 300;
    margin-top: 2.5rem;
    font-size: 2.3rem;
}

hr{
    border: 3px solid #f7972e;
    margin-top: 0.3rem;
    width: 6rem;
    margin-bottom: 2rem;
}


.disp-inline{
    max-width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
}

.font-size-p{
    font-size: 1.1rem;
    word-spacing: 5px;
}

@media screen and (min-width:768px) {

.final-impression{
    display: flex;
}

.disp-inline{
    width: 25%;
    position: relative;
    left: 0;
    transform: translateX(0%);
    margin-bottom: 0;
    
}

.font-size-p{
    font-size: 1.3rem;
    word-spacing: 7px;
    line-height: 2rem;
}
    
}


