*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*rule header*/

.backround{
    background-color: white;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ff9614;
    display: flex;
    justify-content: center;
    align-content: center;
}

h1{
    font-size: 4rem;
    padding: 1rem 0;
}

.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 768px) {

.backround{
    justify-content: start; 
}

h1{
    font-size: 5rem;
    margin-left: 1rem;
}

}

@media screen and (min-width: 992px) {

h1{
    font-size: 6rem;
}

}

/*/rule header*/

/*rule bg*/

.bg-gris{
    background-color: #f6f5f3;
    padding-bottom: 2.5rem;
    
}

.bg-white{
    background-color: #ffffff;
}

/*/rule bg*/

/*main rule*/

.flex{
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    margin: 0 auto;
    padding: 0 5px;
    position: relative;
}


/*video yt*/

main{ 
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-top: 2rem;
  display: flex;
}

.padding-page{
    padding: 0 2rem;
}

.padding-top{
    padding-top: 2rem;
}

.margin{
    margin-bottom: 1.4rem;
}

.general-title{
    font-size: 1.7rem;
    color: #a59999;
    font-weight: 200;
}

.recipe{
    font-size: 3rem;
    color: #4e3969;
    font-weight: 800;
}

.display-nn{
    display: none;
}

@media screen and (min-width: 768px){

html{
    font-size: 18px;
}

.display-nn{
    display: inline-block;
}
}

.video-yt{
    max-width: 100%;
}

.display-flex{
    display: flex;
    flex-direction: column;
    
}

ul{
    list-style: none;
    font-size: 1.1rem;
    
}

li{
    margin-bottom: 1rem;
}

.title-ds{
    font-size: 1.7rem;
}

.description-yt{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


@media screen and (min-width: 992px) {

html{
    font-size: 20px;
}

.display-flex{
    flex-direction: row;
}


main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin-top: 3.5rem;
}

li{
    margin-bottom: 2rem;
}

}

.description-yt{
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0rem;
}

/*/video yt*/

/*social icon*/

.logo{
    width: 1.3rem;
    vertical-align: middle;
}
.icons-social{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

button{
    font-size: 1.3rem;
    padding: 1rem 2rem;
    flex-basis: 20%;
    height: auto;
    border: none;
    border-radius: 1.5rem;
    background-color: white;
    margin-top: 2.5rem;
}

.img-nn{
    display: none;
}

@media screen and (min-width: 768px) {

button{
    padding: 1rem 3.5rem;
}

.img-nn{
    display: inline-block;
    width: 100%;
    margin-top: 2.5rem;
}

.flex{
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    margin: 0 auto;
    padding: 0 5px;
}

.video-yt{
    flex-grow: 2;
}

.description-yt{
    flex-grow: 1;
}

img{
    width: 100%;
}

.display-nn{
    display: none;
}

}

@media screen and (min-width: 992px) {

.display-nn{
    display: inline-block;
}

.flex{
    flex-basis: 90%;
}

.img-nn{
    display: inline-block;
    width: 100%;
    margin-top: 2.5rem;
}

}

/*/social icon*/

/*presentation*/

.presentation{
    color: black;
    font-weight: 300;
    margin-top: 2.5rem;
    font-size: 2.3rem;
}

hr{
    border: 3px solid #f7972e;
    margin-top: 0.3rem;
    width: 6rem;
    margin-bottom: 2rem;
}

.final-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tiramisu-img{
    width: 70%;
}

.p-final{
    font-size: 1.1rem;
    line-height: 2.5rem;
    word-spacing: 0.7rem;
}

@media screen and (min-width: 768px) {

.final-main{
    display: block;
}

.tiramisu-img{
    width: auto;
    height: 250px; 
    float: left;
    margin-right: 20px;
    margin-bottom: 20px
}

.p-final::after{
    font-size: 1.3rem;
    line-height: 2.5rem;
    word-spacing: 0.7rem;
    content: "";
    display: block;
    clear: both;
  
}

}

/*/presentation*/

/*footer*/

footer{
    background-color: #7c69a4;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    font-size: 1.1rem;
}

.foot-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 80%;
}

.li-link{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    margin-top: 1rem;
}

a{
    text-decoration: underline;
    color: inherit;
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    margin-right: 1rem;
}

.margin-top{
    margin-top: 0.5rem;
}

@media screen and (min-width: 992px) {

.foot-flex{
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
}

.copyright{
    align-items: flex-start;
    margin-left: 1.5rem;
}

.li-link{
    flex-wrap: nowrap;
}

footer{
    padding: 1.2rem 0;
    font-size: 1.3rem;
}

.margin-auto{
    margin: auto 0;
}

}

/*/footer*/