*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*rule header*/

.backround{
    background-color: white;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ff9614;
    display: flex;
    justify-content: center;
    align-content: center;
}

h1{
    font-size: 3rem;
    padding: 1rem 0;
}

.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 768px) {

.backround{
    background-color: white;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ff9614;
    display: flex;
    justify-content: start;
    align-content: center;
    
}

h1{
    font-size: 4rem;
    padding: 1rem 0;
    margin-left: 1rem;
}

}

@media screen and (min-width: 992px) {

h1{
    font-size: 6rem;
    padding: 1rem 0;
    margin-left: 1rem;
}

    
}

/*/rule header*/

/*rule bg*/

.bg-gris{
    background-color: #f6f5f3;
    
}

.bg-white{
    background-color: #ffffff;
}

